body {
  min-width: 320px;
  margin: 0 auto;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-title;
  color: $color-title;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@media (min-width: $tablet-width-media) {
  body {
    margin-top: 24px;
  }

  .body__header {
    margin-bottom: 54px;

    @include tablet-paddings;
  }
}

@media (min-width: $desktop-width-media) {
  .body__header {
    margin-bottom: 0;

    @include desktop-paddings;
  }

  .body__header--inner-page {
    margin-bottom: 70px;
  }
}
