@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

@mixin mobile-paddings {
  padding-right: 20px;
  padding-left: 20px;
}

@mixin tablet-paddings {
  padding-right: 30px;
  padding-left: 30px;
}

@mixin desktop-paddings {
  padding-right: 110px;
  padding-left: 110px;
}
