@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin mobile-paddings {
  padding: 0 20px;
}

@mixin tablet-paddings {
  padding: 0 30px;
}

@mixin desktop-paddings {
  padding: 0 100px;
}
