$color-title: hsl(0, 0%, 7%);
$color-text: hsl(0, 0%, 27%);

$font-title: "Oswald", "Arial", sans-serif;
$font-text: "Arial", "Arial Narrow", sans-serif;

$bg-color-gray: hsl(0, 0%, 95%);

$tablet-width-media: 768px;
$desktop-width-media: 1440px;

$tablet-width: 708px;
$desktop-width: 1220px;
