.additional {
  margin-right: auto;
  margin-left: auto;
}

.additional__title {
  position: relative;

  margin: 0;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  &::before,
  &::after {
    position: absolute;
    top: 14px;

    height: 3px;

    background-color: #68b738;
  }

  &::after {
    content: "";
    right: 0;
    left: 247px;

    margin-right: calc(50% - 50vw);
  }
}

.additional__list {
  margin-top: 0;
  margin-bottom: 39px;
  padding-left: 0;

  list-style: none;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 16px;

  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional__item-title {
  margin: 0;
  margin-bottom: 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional__text {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 14px;
}

.additional__description {
  line-height: 14px;
  font-family: $font-text;
}

.additional__cost {
  line-height: 14px;
  font-family: $font-text;
}

@media (min-width: $tablet-width-media) {
  .additional {
    width: $tablet-width;
  }

  .additional__title {
    margin-bottom: 80px;
    margin-left: 36px;
    padding-top: 2px;

    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      top: 24px;
      right: 711px;
      left: -20px;

      margin-left: calc(50% - 50vw);
    }

    &::after {
      top: 24px;
      left: 373px;
    }
  }

  .additional__list {
    margin-bottom: 69px;
  }

  .additional__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 37px;
    padding-bottom: 28px;
    padding-left: 36px;

    border: 1px solid $border-color-tablet;
    border-bottom: none;

    &:last-of-type {
      border-bottom: 1px solid $border-color-tablet;
    }
  }

  .additional__item-title {
    width: 286px;
    margin-bottom: 26px;

    font-size: 20px;
    line-height: 20px;
  }

  .additional__text {
    justify-content: flex-end;
    width: 286px;
    margin-bottom: 0;
    padding-top: 7px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .additional__cost {
    flex-shrink: 0;
    width: 95px;
  }

  .additional__order-button {
    padding-top: 10px;
    padding-bottom: 9px;
  }
}

@media (min-width: $desktop-width-media) {
  .additional {
    width: $desktop-width;
  }

  .additional__title {
    margin-bottom: 79px;
    margin-left: 0;
    padding-top: 0;

    &::before {
      top: 21px;
      right: 1259px;
      left: 0;
    }

    &::after {
      top: 21px;
    }
  }

  .additional__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional__list {
    width: 895px;
    margin-bottom: 0;
  }

  .additional__item {
    align-items: center;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 17px;
    padding-left: 0;

    border: none;
    border-top: 1px solid #cdcdcd;

    &:last-of-type {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additional__item-title {
    margin-bottom: 0;
  }

  .additional__order-button {
    width: 245px;
  }

  .additional__text {
    justify-content: space-between;
    width: 290px;
  }

  .additional__cost {
    width: 45px;

    text-align: left;
  }
}
