.advantages {
  @include mobile-paddings;
  margin: 0 auto;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .advantages {
    width: $tablet-width;

    @include tablet-paddings;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 354px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: $desktop-width;

    @include desktop-paddings;
  }

  .advantages__item {
    width: 245px;
  }
}
