.advantages {
  @include mobile-paddings;
}

.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 354px;
  }
}
