.button {
  box-sizing: border-box;
  margin: 0 20px;

  font: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  color: #ffffff;

  background-color: #68b738;
  border: none;
}
