.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width-media) {
  .catalog {
    width: $tablet-width;
    margin: 0 auto;

    @include tablet-paddings;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
  }
}

@media (min-width: $desktop-width-media) {
  .catalog {
    width: $desktop-width;
    margin: 0 auto;

    @include desktop-paddings;
  }

  .catalog__list {
    margin-left: -80px;
  }
}
