.categories {
  @include mobile-paddings;
  margin: 0 auto;
}

.categories__list {
  @include list-reset();
}

.categories__item {
  padding-left: 20px;
  padding-right: 25px;

  background-color: $bg-color-gray;
}

.categories__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.categories__description {
  margin: 0;

  font-family: $font-text;
  color: $color-text;
}

.categories__link {
  font-size: 16px;
  color: $color-title;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .categories {
    width: $tablet-width;

    @include tablet-paddings;
  }
}

@media (min-width: $desktop-width) {
  .categories {
    width: $desktop-width;

    @include desktop-paddings;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    width: 570px;
  }
}
