.contacts {
  padding-top: 27px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include mobile-paddings;
}

.contacts--main-page {
  background-color: #ffffff;
}

.contacts__slogan {
  width: 140px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;
}

.contacts__text {
  width: 140px;
  margin: 0;

  line-height: 20px;
  font-family: $font-text;
  color: $color-text;
}

@media (min-width: $tablet-width-media) {
  .contacts {
    padding-top: 63px;
    padding-bottom: 62px;
  }

  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: 625px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .contacts__slogan {
    width: 160px;
    padding-top: 2px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__text {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-bottom: -3px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    margin-top: auto;
  }
}

@media (min-width: $desktop-width-media) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 1;

    box-sizing: border-box;
    width: 570px;
    padding-top: 63px;
    padding-right: 85px;
    padding-bottom: 61px;
    padding-left: 75px;

    background-color: #ffffff;
  }

  .contacts__wrapper {
    width: auto;
    padding: 0;
  }

  .contacts__text {
    text-align: left;
  }
}
