.contacts {
  padding-top: 25px;
  padding-bottom: 25px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;

  @include mobile-paddings;
}

.contacts--main-page {
  background-color: #ffffff;
}

.contacts__slogan {
  width: 140px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-title;
  text-transform: uppercase;
}

.contacts__text {
  width: 140px;
  margin: 0;

  line-height: 20px;
  font-family: $font-text;
  color: $color-text;
}

@media (min-width: $tablet-width-media) {
  .contacts__wrapper {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width-media) {
  .contacts__wrapper {
    position: absolute;
    top: 70px;
    left: 110px;
    z-index: 1;

    width: 570px;

    background-color: #ffffff;
  }
}
