.example {
  padding-top: 20px;
  padding-bottom: 37px;

  background-color: $bg-color-gray;
}

.example__inner {
  margin: 0 auto;
}

.example__wrapper {
  margin-bottom: 35px;

  @include mobile-paddings;
}

.example__title {
  margin: 0;
  margin-bottom: 21px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  margin: 0;
  margin-bottom: 25px;
  padding-right: 5px;

  font-family: $font-text;
  color: $color-text;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.example__item {
  position: relative;
}

.example__value {
  display: block;
  box-sizing: border-box;
  width: 124px;
  min-height: 56px;
  padding-top: 13px;
  padding-right: 10px;
  padding-left: 10px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 1px;
}

.example__field {
  position: absolute;
  top: 82%;
  left: 50%;
  z-index: 1;

  box-sizing: border-box;
  width: 86px;
  padding: 0 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-text;
  text-align: center;
  color: $color-text;

  background-color: $bg-color-gray;
  transform: translate(-50%);
}

.example__cost {
  margin: 0;

  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width-media) {
  .example {
    padding-top: 0;
    padding-bottom: 67px;

    background-image: linear-gradient(#ffffff 55%, $bg-color-gray 55%);
  }

  .example__inner {
    width: $tablet-width;

    @include tablet-paddings;
  }

  .example__wrapper {
    margin-bottom: 85px;
    padding: 0;
  }

  .example__title {
    margin-bottom: 63px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    margin-bottom: 53px;
    padding-right: 10px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper-info {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .example__item {
    margin-right: 42px;
  }

  .example__value {
    width: 162px;
    min-height: 72px;

    font-size: 30px;
    line-height: 37px;
  }

  .example__field {
    top: 86%;

    padding: 0 5px;

    font-size: 14px;
    line-height: 14px;

    background-color: #ffffff;
  }

  .example__field--weight {
    width: 111px;
  }

  .example__field--time {
    width: 142px;
  }

  .example__cost {
    width: 192px;
    margin-top: 11px;
    margin-right: 1px;

    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__text {
    display: block;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop-width-media) {
  .example {
    background-image: linear-gradient(#ffffff 29%, $bg-color-gray 29%);
  }

  .example__inner {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;

    @include desktop-paddings;
  }

  .example__wrapper {
    width: 610px;
    margin-bottom: 0;
  }

  .example__title {
    margin-top: 56px;
    margin-bottom: 146px;
  }

  .example__description {
    width: 435px;
    margin-bottom: 68px;
    padding-right: 0;
  }

  .example__wrapper-info {
    flex-wrap: wrap;
  }

  .example__list {
    margin-bottom: 60px;
  }

  .example__field {
    background-color: $bg-color-gray;
  }

  .example__cost {
    display: flex;
    justify-content: space-between;
    width: 327px;
    margin-top: 0;

    text-align: left;
  }
}
