.example {
  background-color: $bg-color-gray;
}

.example__inner {
  margin: 0 auto;

  @include mobile-paddings;
}

.example__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.example__description {
  font-family: $font-text;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__field {
  font-size: 12px;
  line-height: 12px;
}

.example__cost {
  line-height: 20px;
  text-transform: uppercase;
}

.example__toggles-wrapper {
  line-height: 20px;
}

.example__button {
  padding: 0;

  color: $color-title;

  background-color: transparent;
  border: none;
}

@media (min-width: $tablet-width) {
  .example__inner {
    width: $tablet-width;

    @include tablet-paddings;
  }

  .example__wrapper-info {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .example__inner {
    display: flex;
    justify-content: space-between;
    width: $desktop-width;

    @include desktop-paddings;
  }

  .example__wrapper {
    width: 610px;
  }

  .example__wrapper-info {
    flex-wrap: wrap;
  }

  .example__list {
    width: 100%;
  }
}
