.footer {
  background-color: $bg-color-gray;
}

.footer__wrapper {
  margin: 0 auto;

  @include mobile-paddings;
}

@media (min-width: $tablet-width-media) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;
    padding-top: 57px;
    padding-bottom: 55px;

    @include tablet-paddings;
  }
}

@media (min-width: $desktop-width-media) {
  .footer {
    position: relative;
  }

  .footer__wrapper {
    width: $desktop-width;
    padding-top: 60px;

    @include desktop-paddings;
  }
}
