.footer {
  background-color: $bg-color-gray;
}

.footer-wrapper {
  margin: 0 auto;

  @include mobile-paddings;
}

@media (min-width: $tablet-width) {
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    width: $tablet-width;

    @include tablet-paddings;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    position: relative;
  }

  .footer-wrapper {
    width: $desktop-width;

    @include desktop-paddings;
  }
}
