.logo {
  display: block;
  height: 39px;
  padding-top: 11px;
  padding-bottom: 16px;
}

.logo--footer {
  padding-top: 37px;
  padding-bottom: 25px;
}

.logo__image--footer {
  display: block;
  margin: 0 auto;
}
