.map {
  position: relative;

  margin: 0;

  background-color: #f8f5ef;
}

.map__fallback {
  display: block;
  width: auto;
  height: 362px;
  margin: 0 auto;
}

.map__pin {
  position: absolute;
  top: 39%;
  left: 42%;
}

.map__iframe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  border: none;
}

@media (min-width: $tablet-width-media) {
  .map__fallback {
    height: 398px;
  }

  .map__pin {
    top: 36%;
    left: 40%;

    width: 113px;
    height: 106px;
  }

  .map__iframe {
    height: 398px;
  }
}

@media (min-width: $desktop-width-media) {
  .map__pin {
    top: 37%;
    left: 70%;
  }
}
