.page-main {
  display: block;
  overflow: hidden;
}

.page-main__categories,
.page-main__advantages,
.page-main__title,
.page-main__additional {
  @include mobile-paddings;
}

.page-main__categories {
  margin-bottom: 17px;
}

.page-main__advantages {
  margin-bottom: 45px;
}

.page-main__title {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 28px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.page-main__title--form-page {
  padding-bottom: 25px;
}

.page-main__catalog {
  margin-bottom: 28px;
}

.page-main__additional {
  margin-bottom: 35px;
}

.page-main__form {
  margin-bottom: 33px;
}

@media (max-width: $tablet-width-media - 1) {
  .page-main__programm-pick {
    margin-bottom: 22px;
  }
}

@media (min-width: $tablet-width-media) {
  .page-main__programm-pick,
  .page-main__categories,
  .page-main__advantages,
  .page-main__title,
  .page-main__catalog,
  .page-main__additional {
    @include tablet-paddings;
  }

  .page-main--form-page {
    margin-bottom: 40px;
  }

  .page-main__categories {
    margin-bottom: 45px;
  }

  .page-main__advantages {
    margin-bottom: 44px;
  }

  .page-main__title {
    width: $tablet-width;
    margin-bottom: 55px;
    padding-top: 0;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main__title--form-page {
    padding-bottom: 0;
  }

  .page-main__catalog {
    margin-bottom: 65px;
  }

  .page-main__additional {
    margin-bottom: 75px;
  }

  .page-main__form {
    padding-right: 65px;
    padding-left: 70px;
  }
}

@media (min-width: $desktop-width-media) {
  .page-main__programm-pick,
  .page-main__categories,
  .page-main__advantages,
  .page-main__title,
  .page-main__catalog,
  .page-main__additional,
  .page-main__form {
    @include desktop-paddings;
  }

  .page-main--form-page {
    margin-bottom: 50px;
  }

  .page-main__programm-pick {
    margin-bottom: 80px;
  }

  .page-main__categories {
    margin-bottom: 73px;
  }

  .page-main__advantages {
    margin-bottom: 0;
  }

  .page-main__title {
    width: $desktop-width;
  }

  .page-main__catalog {
    margin-bottom: 75px;
  }

  .page-main__additional {
    margin-bottom: 87px;
  }
}
