.programm-pick {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 460px;
  margin: 0 auto;

  color: #ffffff;

  @include mobile-paddings;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    background-repeat: no-repeat;
    background-position: center 0;
  }

  &::before {
    top: 0;
    right: 0;
    left: 0;

    height: 305px;

    background-color: #63a83a;
    background-image: url("../../img/index-background-mobile@1x.jpg");
  }

  &::after {
    bottom: 40px;
    left: 50%;

    width: 280px;
    height: 270px;

    background-image: url("../../img/index-can-mobile@1x.png");
    transform: translate(-50%);
  }
}

.programm-pick__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 36px;
  line-height: 36px;
}

.programm-pick__slogan {
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}

@media (max-width: $tablet-width-media - 1) {
  .programm-pick {
    padding-top: 25px;

    text-align: center;
  }

  .programm-pick__button {
    margin-top: auto;
  }
}

@media (min-width: $tablet-width-media) {
  .programm-pick {
    width: $tablet-width;
    min-height: 810px;

    color: $color-title;

    &::before {
      content: none;
    }

    &::after {
      right: auto;
      bottom: 0;

      width: 709px;
      height: 609px;

      background-image: url("../../img/index-can-tablet@1x.jpg");
    }
  }

  .programm-pick__text {
    width: 427px;
    margin-bottom: 40px;
    margin-left: 90px;

    font-size: 60px;
    line-height: 60px;
  }

  .programm-pick__slogan {
    display: block;
    margin-bottom: 50px;
    margin-left: 90px;

    font-size: 20px;
    line-height: 20px;
  }

  .programm-pick__button {
    width: 245px;
    margin-left: 90px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width-media) {
  .programm-pick {
    width: $desktop-width;
    min-height: 510px;
    padding-top: 100px;

    &::after {
      top: 20px;
      left: 560px;

      width: 552px;
      height: 499px;

      background-image: url("../../img/index-can-desktop@1x.png");
      transform: translate(0);
    }
  }
}
