.programm-pick {
  @include mobile-centering;
  height: 305px;

  text-align: center;
  color: #ffffff;

  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.programm-pick__text {
  font-size: 36px;
  line-height: 36px;
}

.programm-pick__slogan {
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
}
