.site-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @include list-reset;
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;
}

.site-list__link {
  color: $color-title;
  text-transform: uppercase;
}

@media (min-width: $tablet-width-media) {
  .site-list {
    display: flex;
    justify-content: space-between;
    padding-left: 75px;
  }

  .site-list__item {
    border: none;
  }
}

@media (min-width: $desktop-width-media) {
  .site-list__link {
    color: #ffffff;
  }
}
