.site-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @include list-reset;
}

.site-list__link {
  text-transform: uppercase;
  color: $color-title;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }
}
