.site-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  @include list-reset;
}

.site-list__link {
  color: $color-title;
  text-transform: uppercase;
}

@media (min-width: $tablet-width-media) {
  .site-list {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width-media) {
  .site-list__link {
    color: #ffffff;

    background-color: #000000;
  }
}
